//Pagination component
.divPagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttonPagination {
  outline: none;
  border: none;
  background-color: transparent !important;
}
.numbersPagination {
  display: flex;
  font-size: 0.7vw;
}
.pageNumber-active {
  display: flex;
  align-items: center;
  width: 1.7vw;
  height: 1.7vw;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  border-radius: 50%;
  background-color: #007e8a;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
.pageNumber-continue {
  display: flex;
  align-items: center;
  width: 1.7vw;
  height: 1.7vw;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  border-radius: 50%;
}
.pageNumber-inactive {
  display: flex;
  align-items: center;
  width: 1.7vw;
  height: 1.7vw;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  border-radius: 50%;
  color: #767b7f;
  &:hover {
    cursor: pointer;
  }
}
