//Pagination component
.divPagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttonPagination {
  outline: none;
  border: none;
  background-color: transparent !important;
}
.numbersPagination {
  display: flex;
}
.fontPagination{
  font-family: Open Sans;
  font-size: 14px !important;
}
// @media (min-width: 1920px) {

// }
.pageNumber-active {
  display: flex;
  align-items: center;
  width:2.5em;
  height: 2.5em;
  min-width:25px;
  min-height: 25px;
  margin-right: 1em;
  margin-left: 1em;
  justify-content: center;
  border-radius: 50%;
  background-color: #007e8a;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
.pageNumber-continue {
  display: flex;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  min-width:25px;
  min-height: 25px;
  margin-right: 1em;
  margin-left: 1em;
  justify-content: center;
  border-radius: 50%;
}
.pageNumber-inactive {
  display: flex;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  min-width:25px;
  min-height: 25px;
  margin-right: 1em;
  margin-left: 1em;
  justify-content: center;
  border-radius: 50%;
  color: #767b7f;
  &:hover {
    cursor: pointer;
  }
}
