.modalWidgets__closeIconSynthetics {
  display: grid;
  grid-template: 1fr / 30% 23% 45% 2%;
}

.radioContent {
  display: flex;
  padding-right: 2%;
}

.radioButtonSynthetics {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
