.modalWidgets__closeIconSynthetics {
  display: grid;
  grid-template: 1fr / 35% 25% 35% 5%;
}

.radioContent {
  display: flex;
}

.radioButtonSynthetics {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
