.modalWidgets__closeIconSynthetics {
  display: grid;
  grid-template: 1fr / 40% 20% 30% 10%;
}

.radioContent {
  display: flex;
}

.radioButtonSynthetics {
  display: flex;
  align-items: center;
  padding-left: 10px; 
}
