.barContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr / 2.5em calc(100% - 2.5em);
}
.barContainer__quantity{
    grid-row: 1 / 3;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.4em;
}

.barContainer--quantity{
    display: flex;
    align-items: flex-end;
}
.barContainer__content{
    display: grid;
    grid-template: 20% 80% / 1fr;
    text-transform: capitalize;
}
.barContainer__bar{
    display: flex;
    align-items: flex-end;
}