// styles.scss
@import './styles/tableDashboard.css';
@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import '../../node_modules/react-circular-progressbar/dist/styles.css';

@import './containers/Dashboard/styles.scss';
@import './containers/Monitors/styles.scss';
@import './containers/Logs/styles.scss';
@import './containers/Setup/styles.scss';
@import './containers/Infraestructure/styles.scss';
@import './containers/Menu/styles.scss';
@import './containers/Metrics/styles.scss';
@import './containers/Synthetics/styles.scss';

@import './components/Modal/styles.scss';
@import './components/Checkbox/style.scss';
@import './components/ModalSupport/style.scss';
@import './components//Pagination/style.scss';
@import './components/ModalSetup/styles.scss';
@import './components/Bar/styles.scss';
//////////////// Metrics
.box--metrics .popup-content {
  background: none !important;
  border: none !important;
}
.box--metrics .popup-overlay {
  z-index: 999999 !important;
}
.buttonMetrics:hover {
  background: none !important;
  border: none !important;
}
.buttonMetrics {
  background: none !important;
  border: none !important;
  position: absolute;
  right: -12px;
  top: -10px;
}
.modalMetrics {
  background: #000000 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 9px;
  opacity: 1;
  font-size: 12px;
  top: 10% !important;
  left: 15% !important;
  width: 50% !important;
  height: auto !important;
}
/////////////STYLES COMMON
.fontSmall {
  font-family: Open Sans;
  font-size: 10px !important;
}
.fontNormal {
  font-family: Open Sans;
  font-size: 12px !important;
}
.fontMedium {
  font-family: Open Sans;
  font-size: 14px !important;
}
.fontHight {
  font-family: Open Sans;
  font-size: 16px !important;
}
.fontBigger {
  font-family: Open Sans;
  font-size: 50px !important;
}

.containerStylesBarTitle {
  min-height: 60px !important;
  margin-left: 20% !important;
  text-transform: capitalize !important;
}

.distributionQuantityAndBar {
  height: 1.3vw !important;
  display: grid !important;
  grid-template-columns: 20% 80% !important;
}

.darkLine {
  border-right: none;
}

@media (max-width: 1024px) {
  .containerStylesBarTitle {
    margin-bottom: 5px;
  }
  .distributionQuantityAndBar {
    grid-template-columns: 35% 65% !important;
  }
  .darkLine {
    border-right: 5px solid rgba(208, 208, 209, 0.1);
    border-right-style: groove;
  }
  .fontSmall {
    font-family: Open Sans;
    font-size: 12px !important;
  }
  .fontNormal {
    font-family: Open Sans;
    font-size: 14px !important;
  }
  .fontMedium {
    font-family: Open Sans;
    font-size: 13px !important;
  }
  .fontBigger {
    font-family: Open Sans;
    font-size: 45px !important;
  }
}
@media (max-width: 1680px) {
  .darkLine {
    border-right: 5px solid rgba(208, 208, 209, 0.1);
    border-right-style: groove;
  }
}

@media (min-width: 1920px) {
  .fontSmall {
    font-family: Open Sans;
    font-size: 12px !important;
  }
  .fontNormal {
    font-family: Open Sans;
    font-size: 14px !important;
  }
  .fontMedium {
    font-family: Open Sans;
    font-size: 16px !important;
  }
}

input[type='search'] {
  background: white !important;
}

a[target='_blank']:after {
  background-image: none !important;
  margin-left: 0px !important;
  position: unset !important;
  width: 0px !important;
}

.flex {
  display: flex;
}
.p20 {
  padding: 20px;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

.pointerBlock {
  cursor: not-allowed;
}

.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.w100I {
  width: 100% !important;
}

.flexCenterHorizontal {
  justify-content: center;
}

.flexCenterVertical {
  align-items: center;
}

///STYLES TABLE
.stycky {
  position: sticky !important;
  z-index: 100;
  left: 0;
}
.table__header {
  background: #f7f7f8;
  width: 100%;
  color: #333333;
  font-weight: 600;
  background-color: #f7f7f8;
  display: flex;
  height: 2vw;
  min-height: 30px;
  align-items: center;
  padding-left: 5px !important;
  /* justify-content: center; */
}
.table__headerAlignRight {
  background: #f7f7f8;
  width: 100%;
  color: #333333;
  font-weight: 600;
  background-color: #f7f7f8;
  display: flex;
  height: 2vw;
  min-height: 30px;
  align-items: center;
  padding-left: 5px !important;
}
.table__sort {
  justify-content: space-around;
  align-items: center;
  margin-left: 3px;
}
.table__cell {
  white-space: pre-wrap !important;
  padding-left: 5px !important;
}
.table__cellLongText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  padding-left: 5px !important;
}

.table__cellSticky {
  width: 100%;
  display: block;
  align-items: center;
  white-space: pre-wrap !important;
}
.table__headerSticky {
  width: 100%;
  color: #333333;
  font-weight: 600;
  background-color: #f7f7f8;
  display: flex;
  height: 2vw;
  min-height: 30px;
  align-items: center;
  padding-left: 5px !important;
}
///////////////// Values exclusive for library
.ReactTable {
  height: 100% !important;
}
.rt-tbody {
  overflow: unset !important;
}
.f14 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.81vw;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
}
/////////////////////////////

//DISTRIBUTION CONTENT VIEWS
.mainContent {
  display: grid;
  grid-template: 1fr / 13% 87%;
  height: 100%;
  width: 97%;
  column-gap: 1.8%;
}

.mainContent__information {
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: grid;
  grid-template: 20% 80% /1fr;
}

.information__box {
  border-bottom: 1px solid #bdbdbd;
  align-items: center;
  display: grid;
  grid-template: 40% 50% / 1fr;
}
.box--title {
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  /* #0078BF */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.box--quantity {
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
  display: flex;
  align-items: center;
  text-align: center;
  /* #0078BF */
  color: #0078bf;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.mainContent__tableContent {
  display: grid;
  grid-template: 5% 95% / 1fr;
  row-gap: 18px;
  height: 98%;
}
.tableContent__filter {
  display: grid;
  grid-template: 1fr / 45% 15% 40%;
  column-gap: 5px;
  width: 98%;
}
.filters__search {
  width: 99%;
  height: 38px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.search__content {
  width: 98%;
  height: 100%;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.filters--searchInput {
  padding: 10px 10px;
  border: none;
  width: 100%;
}

.tableContent__table {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  max-height: calc(109vh - 129px);
  overflow-x: auto;
  overflow-y: auto;
  position: relative;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f1f2f3;
  }

  &::-webkit-scrollbar {
    height: 0.5em;
    width: 0.5em;
    background-color: #f1f2f3;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #bdbdbd;
  }
}

.pr {
  position: relative;
}

.buttonInside {
  position: relative;
  margin-bottom: 10px;
}
.buttonEye {
  position: absolute;
  right: 0px;
  top: 4px;
  border: none;
  height: 20px;
  width: 20px;
  outline: none;
  text-align: center;
  font-weight: bold;
  padding: 2px;
}
.buttonEye:hover {
  cursor: pointer;
}

.main {
  display: grid;
  background: white;
  height: 100%;
  grid-template: 1fr / 15% 1fr;
}

.containerProgress {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 18px;
    font-family: 'Open Sans';
    text-align: center;
  }
}
.containFilterTags {
  margin-left: 3%;
}

.descriptionTitle {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #767b7f;
}
.divTitle {
  display: flex;
  margin-left: 10px;
}
.mainTitle {
  left: 15px;
  top: 7px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.headerGrid {
  width: 100%;
  align-items: center;
}

.mainBoxComplex {
  width: 40%;
  height: 260px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 3%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.boxDashboard {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  &:hover {
    cursor: pointer;
  }
}
.barSelectable {
  &:hover {
    cursor: pointer;
  }
}
.boxTitleList {
  margin-left: 30px;
  margin-right: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}
.divLists {
  height: 69%;
  overflow-x: hidden;
  overflow-y: auto;
}
.divLists::-webkit-scrollbar {
  -webkit-appearance: none;
}

.divLists::-webkit-scrollbar:vertical {
  width: 10px;
  height: 73px;
}

.divLists::-webkit-scrollbar-button:increment,
.divLists::-webkit-scrollbar-button {
  display: none;
}

.divLists::-webkit-scrollbar:horizontal {
  height: 20px;
}

.divLists::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.divLists::-webkit-scrollbar-track {
  border-radius: 10px;
}
.textTable {
  color: #767b7f;
  font-weight: bold;
  font-size: 15px;
}
.BoxLists {
  width: 97%;
  height: 100%;
  max-height: 250px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.BoxLists2 {
  margin-top: 5%;
  height: auto;
  width: 730px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.dashboardTotal {
  width: 25%;
  margin-left: 5%;
}
.numberTotal {
  display: flex;
  justify-content: center;
  margin-right: 5%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.51);
}
.divChartData {
  width: 33%;
}
.titleChart {
  display: flex;
  justify-content: center;
  margin-right: 5%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}
.dashboardData {
  display: flex;
  margin-bottom: 10px;
}

//Migration
.flex {
  display: flex;
}
.containFilterAndGraphs {
  display: flex;
  flex-direction: column;
}
.migrationMain {
  padding-top: 4%;
  height: 100%;
  width: 100%;
}
.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.migrationTable {
  min-height: 260px;
  width: 80%;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.divListMigration {
  min-height: 260px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.buttonContainer {
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.buttonNext {
  background-color: #00b3c3;
  color: white;
  height: 50%;
  width: 15%;
  &:hover {
    background-color: #00b3c3;
  }
}
.divDashboardName {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.divCheckMigration {
  display: flex;
  justify-content: center;
}
.divTypeMigration {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.headerMigration {
  background-color: #556ad1;
  color: white;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
}
.HeaderLeft {
  display: flex;
  justify-content: flex-start;
}
.cellMigration {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cellMigrationLeft {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.compatibilityLevel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
//Migration-2
.insightsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.migrationSetup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.migrationInsight {
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.descContent {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 19px;
  color: #767b7f;
  height: 50%;
}
.divInsightKey {
  width: 90%;
}
.migrationContent {
  width: 85%;
  display: flex;
  padding: 40px;
}
.divButtonEdit {
  margin-top: 20px;
  width: 10%;
}
.fullHeightDiv {
  height: 100%;
}
.divTextfieldKeys {
  margin: 10px;
  width: 100%;
}
.labelKey {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 22px;
  color: #767b7f;
} //////////
.buttonInsightContainer {
  margin-top: 15px;
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.buttonKeysMigration {
  background-color: #555fd1;
  color: white;
  margin-bottom: 5px;
  &:hover {
    background-color: #556ad1;
  }
}
.buttonInsight {
  background-color: #555fd1;
  color: white;
  height: 50%;
  width: 15%;
  &:hover {
    background-color: #556ad1;
  }
}
.buttonBack {
  background-color: #f7f7f8;
  color: #767b7f;
  font-weight: normal;
  height: 50%;
  width: 15%;
  margin-right: 20px;
}
//Status
.statusMain {
  padding-top: 6%;
  height: 100%;
  width: 100%;
}
.tableStatusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.statusTable {
  min-height: 260px;
  width: 80%;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.divListStatus {
  min-height: 260px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.containStatus {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containActions {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.statusText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  color: white;
  height: 25px;
}
.statusAction {
  content: ' ';
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.viewFull {
  background: #0078bf;
  width: 120px;
  cursor: pointer;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Open sans;
}

//Infrastructure /logs/partial-integration
.containFilterHost {
  display: flex;
  flex-direction: column;
}
.containersSoRadios {
  margin-left: 3%;
  display: flex;
  align-items: center;
  height: 50px;
}
.radioButtonWindows {
  display: flex;
  margin-left: 20px;
}
.searchHost {
  width: 100%;
  height: 38px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.searchHostContainer {
  margin-left: 3%;
  width: 475px;
}
.tableHost {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 3%;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  grid-column: 1 / -1;
  margin-top: 20px;
  width: 475px;
}
.tableHost::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tableHost::-webkit-scrollbar:vertical {
  width: 10px;
  height: 73px;
}

.tableHost::-webkit-scrollbar-button:increment,
.tableHost::-webkit-scrollbar-button {
  display: none;
}

.tableHost::-webkit-scrollbar:horizontal {
  height: 20px;
}

.tableHost::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.tableHost::-webkit-scrollbar-track {
  border-radius: 10px;
}
.textTblProcessor {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}
.textTblVersion {
  display: flex;
  justify-content: center;
}
.textTblMemory {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}
.textTblCount {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}
.titleSo {
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  margin-left: 5px;
}

.mainVersions {
  width: 475px;
  height: 220px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  // margin-left: 3%;
  margin-top: 15px;
  overflow: auto;
  margin-bottom: 10px;
}
.mainVersions::-webkit-scrollbar {
  -webkit-appearance: none;
}

.mainVersions::-webkit-scrollbar:vertical {
  width: 10px;
  height: 73px;
}

.mainVersions::-webkit-scrollbar-button:increment,
.mainVersions::-webkit-scrollbar-button {
  display: none;
}

.mainVersions::-webkit-scrollbar:horizontal {
  height: 20px;
}

.mainVersions::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.mainVersions::-webkit-scrollbar-track {
  border-radius: 10px;
}
.divBox {
  display: grid;
  grid-template: 1fr / 1fr;
}

.divTooltip {
  height: 100%;
}

.divTooltipHosts {
  background-color: rgba(242, 242, 242, 0.8);
  width: 120px;
  height: 120px;
  overflow: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titleTooltipHosts {
  color: #555fd1;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.contentTooltipHosts {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.nameVersion {
  color: #767b7f;
  font-family: sans-serif;
  font-size: 12px;
}
.countVersion {
  color: #555fd1;
  font-family: sans-serif;
  font-size: 12px;
}
.headerVersion {
  background-color: #f7f7f8;
  color: #0078bf;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  & > p {
    margin-right: 20px;
  }
  & > div {
    margin-left: 15px;
    & > p {
      margin-left: 10px;
    }
  }
}
.rowsVersion {
  color: #333333;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  & > p {
    margin-left: 15px;
    margin-right: 20px;
  }
}
//Integrations
.mainBoxIntegration {
  width: 176px;
  height: 180px;
  left: 213px;
  top: 79px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 3%;
  margin-top: 20px;
}
.boxTitleIntegration {
  margin-left: 5%;
  margin-top: 2%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #767b7f;
  height: 20%;
  display: flex;
  align-items: center;
}
.boxContentIntegration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.boxNameIntegration {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}
//Metrics
.mainBoxMetrics {
  left: 213px;
  top: 79px;
  background: #ffffff;
  width: 220px;
  height: 220px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 3%;
  margin-top: 20px;
  & > p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 151px;
    color: #0078bf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
}
.mainBoxMetricsBig {
  width: 100%;
  height: 400px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divMetrics {
  margin-left: 3%;
  margin-top: 20px;
  width: 60%;
}
.divFilters {
  display: flex;
  margin-bottom: 20px;
}
.dropDownMetric {
  width: 35%;
  height: 35px;
  margin-right: 3%;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.selectFilter {
  width: 100%;
  height: 100%;
  left: 0;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #fff;
  &:hover {
    background-color: #fff;
  }
  &:focus {
    background-color: #fff;
  }
}
.searchMetric {
  width: 62%;
  height: 38px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.divSearch {
  width: 80%;
  height: 100%;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.searchInput {
  padding: 10px 10px;
  border: none;
  width: 100%;
}
.contentCateg {
  margin-left: 10px;
  margin-top: 10px;
  overflow: auto;
}
.textContent {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}
.boxContentMetric {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.boxContentMetric::-webkit-scrollbar {
  -webkit-appearance: none;
}

.boxContentMetric::-webkit-scrollbar:vertical {
  width: 10px;
  height: 73px;
}

.boxContentMetric::-webkit-scrollbar-button:increment,
.boxContentMetric::-webkit-scrollbar-button {
  display: none;
}

.boxContentMetric::-webkit-scrollbar:horizontal {
  height: 20px;
}

.boxContentMetric::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.boxContentMetric::-webkit-scrollbar-track {
  border-radius: 10px;
}
//Synthetics
.mainBoxSynthetics {
  display: grid;
  grid-template: 1fr /1fr;
  width: 1000px;
}
.searchLocations {
  width: 50%;
  height: 38px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.containerSearchLocations {
  display: flex;
  flex-direction: column;
}
.mainBoxLocations {
  width: 775px;
  height: 220px;
  left: 213px;
  top: 79px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 10px;
  overflow: auto;
}
.mainBoxLocations::-webkit-scrollbar {
  -webkit-appearance: none;
}

.mainBoxLocations::-webkit-scrollbar:vertical {
  width: 10px;
  height: 73px;
}

.mainBoxLocations::-webkit-scrollbar-button:increment,
.mainBoxLocations::-webkit-scrollbar-button {
  display: none;
}

.mainBoxLocations::-webkit-scrollbar:horizontal {
  height: 20px;
}

.mainBoxLocations::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.mainBoxLocations::-webkit-scrollbar-track {
  border-radius: 10px;
}
.boxTitleTable {
  margin-top: 15px;
  margin-left: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #767b7f;
  display: flex;
  align-items: center;
}
.urlTable {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 3%;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.urlTableAccounts {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 3%;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 60%;
  overflow: auto;
}
.divTableUrl {
  display: flex;
  width: 70%;
}
.tableStyle {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 3%;
  width: 800px;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.textUrl {
  margin-left: 3%;
  font-size: 14px;
}
//Accounts
.containerContentAccounts {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerFilterAccounts {
  display: flex;
  margin-left: 3%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 35px;
}
.searchAccounts {
  width: 585px;
  height: 38px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}
.textTblEmail {
  padding-left: 15px;
}
.textTblUsername {
  display: flex;
  justify-content: center;
}
.textTblStatus {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}
.tableStyleAccount {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 3%;
  width: 800px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
}
.tableStyleAccount::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tableStyleAccount::-webkit-scrollbar:vertical {
  width: 10px;
  height: 73px;
}

.tableStyleAccount::-webkit-scrollbar-button:increment,
.tableStyleAccount::-webkit-scrollbar-button {
  display: none;
}

.tableStyleAccount::-webkit-scrollbar:horizontal {
  height: 20px;
}

.tableStyleAccount::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.tableStyleAccount::-webkit-scrollbar-track {
  border-radius: 10px;
}
.boxContentAccount {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 91px;
  line-height: 150px;
  color: #0078bf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.titleAccount {
  height: 20%;
  display: flex;
  justify-content: center;
  margin-right: 5%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.51);
}
.txtEmail {
  margin-left: 6%;
  font-size: 14px;
}
.txtStateUsername {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  font-size: 14px;
}
//Setup
.containerSetup {
  display: grid;
  grid-template: 60px 1fr / 1fr 1fr;
  & > div:nth-of-type(1) {
    display: flex;
    grid-column: 1/-1;
  }
}
.setupContent {
  width: 100%;
  display: flex;
}

.boxContentFetch {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  flex-direction: column;
}

.tooltipFetch {
  width: 100%;
  padding-left: 50px;
}

.logs {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 97%;
  margin-left: 3%;
  margin-bottom: 10px;
}


.dropText {
  color: black;
}

.react-select {
  &__single-value {
    font-size: 12px;
  }
  &__option {
    font-size: 12px;
  }
}
// Font size for screen of 14"
@media screen and (max-width: 1366px) {
  //Menu font size
  .react-select {
    &__single-value {
      font-size: 10px;
    }
    &__option {
      font-size: 10px;
    }
  }
  .menuText {
    font-size: 10px;
  }
  .divSupport {
    font-size: 10px;
  }
  //Setup font size
  .boxTitle,
  .lastUpdate,
  .buttonFetch,
  .buttonDelete,
  .boxSetupContent {
    font-size: 12px;
  }
  //Dashboards font size
  .titleChart {
    font-size: 10px;
  }
  .boxTitleList,
  .itemAlerts,
  .cellDashboard {
    font-size: 12px;
  }
  .nameTag {
    font-size: 10px;
  }
  //Alerts font size
  .textGraph {
    font-size: 10px;
  }
  .alertTitle,
  .numberGraph {
    font-size: 12px;
  }
  //infraestructure font size
  .headerVersion {
    font-size: 10px;
  }
  .rowsVersion {
    font-size: 12px;
  }
  //metrics font size
  .textContent {
    font-size: 12px;
  }
  //synthetics font size
  .textUrl {
    font-size: 12px;
  }
  //acounts
  .txtEmail {
    font-size: 12px;
  }
  .txtStateUsername {
    font-size: 12px;
  }
}
