//Support
.formSupport {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divTextfieldSupport {
  margin: 10px;
  width: 100%;
}
.divButtonSupport {
  margin-left: 10px;
}
.formSetup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}