.tableContent__filterMetric {
  display: grid;
  grid-template: 1fr / 36% 12.5% 6% 45.5%;
  -moz-column-gap: 5px;
  column-gap: 5px;
  width: 98%;
}
.buttonFetchMetric {
  background: #007e8a;
  width: 100%;
  height: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.71vw;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.extraClass {
  width: 400px;
  font-size: 12px !important;
  pointer-events: auto !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.headerModalProgress {
  display: grid;
  grid-template: 1fr / 95% 5%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  color: #333333;
}
.contentFetching {
  display: grid;
  grid-template: 10% 15% 75% / 1fr;
  row-gap: 5px;
}
.contentFetching__info {
  background-color: #f7f7f8;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  width: 70%;
  color: #767b7f;
}
.info__loading {
  display: grid;
  grid-template: 1fr / 50% 50%;
}
.warningInfo--description {
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  margin-top: 10px;
  color: #333333;
}
.warningInfo--title {
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-left: 10px;
  color: #333333;
}
.warningInfo__buttons{
  display: grid;
  column-gap: 5px;
  width: 96%;
  grid-template: 1fr / 30% 35% 35%;
}
.contentFetching__warningInfo {
  margin-top: 15px;
  display: grid;
  height: 100%;
  grid-template: 10% 75% 15% / 1fr;
}
.warningInfo--steps{
  margin-top: 2px;
  margin-bottom: 2px;
}
.widthModalProgress{
  width: 450px;
}
